body {
    margin: 0;
    padding: 0 0 50em;
    font: 16px/1.5 palatino;
    color: dimgray;
}
h1 {
    margin: 0;
    line-height: 1.2;
}
h2 {
    margin: 0;
    line-height: 1.2;
}
p {
    margin: 0;
}
p + p,
h1 + p,
h2 + p {
    margin: 0.75em 0 0;
}
pre {
    margin: 0;
}
code {
    color: black;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
section {
    display: block;
}
.slide {
    margin: 1em;
    padding: 1em;
    background: whitesmoke;
}
.slides .slide {
    opacity: 0.1;
}
.slides .current-slide {
    opacity: 1;
}
.title-slide {
    padding: 10em 1em;
}
.content-slide {
    padding: 5em 1em;
}
.image-slide {
    text-align: center;
    background: #1f1f1f;
}
.slides .image-slide {
    opacity: 0.02;
}
.slides .image-slide.current-slide {
    opacity: 1;
}
.code-slide {}
